asgiref==3.6.0
crispy-bootstrap5==0.6
dj-database-url==2.0.0
dj-email-url==1.0.6
Django==4.2
django-cache-url==3.4.4
django-crispy-forms==1.13.0
django-sendgrid-v5==1.2.2
environs==9.3.5
gunicorn==20.1.0
marshmallow==3.19.0
packaging==23.1
python-dotenv==1.0.0
python-http-client==3.3.7
sendgrid==6.10.0
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
typing_extensions==4.5.0
tzdata==2023.3
whitenoise==6.4.0
